body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, rgb(0, 29, 0), rgb(1, 105, 32));
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 15px solid green;
    background: green;
    padding: 10px;
    margin: 0;
}

.logo {
    
  width: 70px;              
  height: 70px;
  border-radius: 50%;       
  position: fixed;          
  top: 5px;                
  left: 200px;               
  object-fit: cover; 
}